{%if not asfile %}
<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="tuxxi & juxtapo & rabsrincon">

    <title>Momentum Mod - About</title>

</head>
{% extends "layout.html" %}
{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="jumbotron">
          <h2>About</h2>
            <p>
            As Momentum Mod is still early in it's development timeline, there are not a lot of confirmed features we can share. We can promise Momentum Mod will offer everything surf and bhop servers have and more, and will be free to play!
            </br> </br>
    
            If you want to see what we are working on, visit our <a href="https://trello.com/momentum_mod">Trello page</a>, <a href="https://github.com/momentum-mod">Github organization</a>, or read our <a href="http://momentummod.tumblr.com/">dev blog</a>. If you are interested in receiving emails with important updates, you can subscribe to our <a href="{{ url_for('mailinglist') }}">mailing list</a>.
            </br> </br>
            
            If you would like to contribute to the project, feel free to <a href="{{ url_for('contact') }}">contact us</a>. We are currently looking for C++ programmers, artists, and level designers that have some sort of experience. We are not in need of official playtesters at the current stage of development, but you are free to try out the mod at the <a href="{{ url_for('install') }}">install page</a>.
            </p>
			
			<h3>Who's involved?</h3>
            <p>
				{% for member in team %}
				 <p>{% if member.realname is not none %}{{ member.realname }}{% endif %}{% if member.nickname is not none %} {% if member.realname is not none %}({% endif %}{{ member.nickname }}{% if member.realname is not none %}){% endif %}{% endif %}{% if member.role is not none %}{% if member.realname is not none or member.nickname is not none%} -{% endif %} {{ member.role }}{% endif %}</p>
				{% endfor %}
				<h5>Contributors</h5>
				{% for member in contributors %}
					<p class="name">{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}</p>
				{% endfor %} 
				<h5>Special thanks to...</h5>
				{% for member in specials %}
					<p class="name">{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}</p>
				{% endfor %}
				<p class="name">everyone who has ever contributed</p>
				<p class="name">and...<br>VALVe</p>
				{% if showlink %}
				<a href="{{ url_for('team_credits') }}" download >As credits.txt file</a>
				{% endif %}
				<br><small>{{ place_steamlink()|safe }}</small>
            </p>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
</html>
{% else %}
<!DOCTYPE html>
<html>
<head>
	<title>credits.txt</title>
	<style>
	p {
		font-family: Console, "Courier New";
		font-face: Console;
		padding:0px;
		margin: 0px
	}
	.name:first-letter {
		text-transform: uppercase
	}
	</style>
	<link rel="icon" href="{{ url_for('static', filename='frontend/images/' 'favicon.ico') }}" type="image/ico" sizes="16x16">
</head>
<body>
<p>"credits.txt"</p>
<p>{</p>

<p>//========================================================</p>
<p>//These are the names used in the intro (trainride)</p>
<p>//========================================================</p>
<p>"IntroCreditsNames"</p>
<p>{
<p>	"V"	"WeaponIcons"</p>
<p>	" "	"CreditsText"</p>
<p>	" "	"CreditsText"</p>
<p>}</p>

<p>"CreditsParams"</p>
<p>{</p>
<p>	"logo" "HALF-LIFE'"</p>
	
<p>	"fadeintime"	"2.5"</p>
<p>	"fadeouttime"	"1"</p>
<p>	"fadeholdtime"	"1.0"</p>
<p>	"nextfadetime"	"1.0"</p>
<p>	"pausebetweenwaves" "1.0"</p>
<p>	"logotime" "1.0"</p>
<p>	"posx"	"96"</p>
<p>	"posy"	"360"</p>

<p>	"color" "255 255 255 128"</p>

<p>//Outro Parameters</p>
<p>// When setting scrolltime value, don't make it too slow/too fast!</p>
<p>// (3 s per team member + 1 per contributor + 10 for special thanks)</p>
<p>	"scrolltime" "{{ time }}"</p>
<p>	"separation"  "10"</p>
<p>}</p>

<p>//================================================================================</p>
<p>//	These are the names used in the credits.</p>
<p>//	If you contribute to the project, feel free to add yourself</p>
<p>//	in the contributors section. </p>
<p>//	(Add a new "YOUR NAME/USERNAME HERE" "CreditsOutroText" after the last one.)</p>
<p>//================================================================================</p>
<p>"OutroCreditsNames"</p>
<p>{</p>
<p>	"MOMENTUM MOD"	"CreditsOutroTextExtraLarge"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	"Momentum Team" "CreditsOutroTextLarge"</p>
	{% for member in team %}
<p>	"{% if member.realname is not none %}{{ member.realname }}{% endif %}{% if member.nickname is not none %} ({{ member.nickname }}){% endif %}{% if member.role is not none %} - {{ member.role }}{% endif %}" "CreditsOutroText"</p>
	{% endfor %}
<p>	" "	"CreditsOutroText"</p>
<p>	"Contributors" "CreditsOutroTextLarge"</p>
<p>	// Add yourself here</p>
	{% for member in contributors %}
<p class="name">"{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}" "CreditsOutroText"</p>
	{% endfor %}
<p>	//-----------------</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	"Special thanks to:"   "CreditsOutroTextLarge"</p>
	{% for member in specials %}
<p class="name">"{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}" "CreditsOutroText"</p>
	{% endfor %}
<p>	"everyone who has ever contributed"   "CreditsOutroText"</p>
<p>	"and"	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	"V"	"CreditsOutroLogos"</p>
<p>}</p>

<p>}</p>
</body>
</html>
{% endif %}
