<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="tuxxi">

    <title>Momentum Mod - Contact</title>

	<!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/' 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/' 'the-big-picture.css') }}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<style>
        .flash {
            background-color: #FBB0B0;
            color: #FFF;
            font-weight: bold;
            padding: 10px;
            border-bottom: 1px dotted #5B2345;
        }

        .flash_success {
            color: green;
            padding: 10px;
        }


        .flash:last-of-type {
             border-bottom: 0px;
        }
    </style>

</head>

<body>
    <!-- preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<!-- End of preloader -->

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Momentum Mod</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('install') }}">Install</a>
                    </li>
                    <li>
                        <a href="http://momentummod.tumblr.com/">Dev Blog</a>
                    </li>
                    <li>
                        <a href="https://github.com/momentum-mod">Github</a>
                    </li>
                    <li>
                        <a href="https://trello.com/momentum_mod">Trello</a>
                    </li>
                    <li>
                        <a href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
	<div class="container">
		<div class="jumbotron">
		<div class="row"> 
		<div class="col-md-6">
			<h2>Contact The Team</h2>
			<p></p>
			{% if success %}
			{% for message in get_flashed_messages() %}
			<div class="flash_success">{{ message }}</div>
			{% endfor %}
			{% else %}
			{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.name.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.email.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.department.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.subject.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.message.errors %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% if form is not none %}
			<form class="form-horizontal">
				<div class="form-group">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					{{ form.csrf_token }}
					<label class="form.name" for="nameInput">Name </label>
					<input type="text" class="form.name" id="nameInput" placeholder="Your Name">
				</div>
				<div class="form-group">
					<label for="emailInput">Email </label>
					<input type="email" class="form.email" id="emailInput" placeholder="you@example.com">
				</div>
				<div class="form-group">
					<label for="form.department">Department </label>
					{{ form.department() }}
				</div>
				<div class="form-group">
					<label for="subjectInput">Subject </label>
					<input type="text" class="form.email" id="subjectInput" placeholder="What do you want to talk about with us? (Optional but helpful)">
				</div>
				<textarea class="form-control" rows="5"> </textarea>
				<p></p>
				{{ form.recaptcha }}
				<p></p>
				<button type="submit" class="form.submit" >Submit</button>
				<p></p>
			</form>
			<small>Your IP is recorded for security reasons. We only use it for loggin pourposes</small>
			{% endif %}
			{% endif %}
			</div></div>
		</div>
			<!-- box -->
			<!-- End of Container Begin -->
	</div>
	<!-- /.container -->

    <!-- jQuery -->
	<script src="{{ url_for('static', filename='js/' 'jquery.js') }}" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="{{ url_for('static', filename='js/' 'bootstrap.min.js') }}" type="text/javascript"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
