<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="tuxxi & rabsrincon">

    <title>Momentum Mod - Contact</title>

    <!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/' 'contact.css') }}" rel="stylesheet">

</head>
{% extends "layout.html" %}
{% block body %}
    <!-- preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
	<!-- Container Begin -->
    <div class="container">
        <div class="jumbotron">
			<h2>Contact the team</h2>
				<div class="box-body " style="display: block;">
					{% if success %}
					{% for message in get_flashed_messages() %}
					<div class="flash_success">{{ message }}</div>
					{% endfor %}
					{% else %}
					{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
					{% for message in form.name.errors %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
					{% for message in form.email.errors %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
					{% for message in form.department.errors %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
					{% for message in form.subject.errors %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
					{% for message in form.message.errors %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
					{% if form is not none %}
					<form action="#" method=post>
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						{{ form.csrf_token }}
						<p>Name</p>
						{{ form.name(placeholder='Your name') }}

						<p>Email</p>
						{{ form.email(placeholder='Your email') }}
						
						<p>Department</p>
						{{ form.department }}

						<p>Subject</p>
						{{ form.subject(placeholder='What do you want to talk about with us? (Optional but helpful)') }}

						<p>Message</p>
						{{ form.message(placeholder='Write your message here',rows=15) }}

						{{ form.recaptcha }}
						</br>
						{{ form.submit }}
					</form>
					<small>Your IP is recorded for security reasons. We only use it for logging pourposes</small>
					{% endif %}
					{% endif %}
				</div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
{% endblock %}
</html>
