<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation page</title>
    <link rel="icon" href="{{ url_for('static', filename='frontend/images/' 'favicon.ico') }}" type="image/ico" sizes="16x16">
    <link href="{{ url_for('static', filename='css/' 'foundation.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='css/' 'dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'dripicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'typicons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='sass/css/' 'theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'login.css') }}" rel="stylesheet">

    <!-- pace loader -->
    <script src="{{ url_for('static', filename='js/pace/' 'pace.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='js/pace/themes/orange/' 'pace-theme-flash.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/slicknav/' 'slicknav.css') }}" rel="stylesheet">


    <script src="{{ url_for('static', filename='js/vendor/' 'modernizr.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='css/' 'bootstrap.css') }}" rel="stylesheet">

    <style type="text/css">
        body {
            background-color: #CFF
        }

        .flash {
            background-color:red;
            color:#FFF;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="container-fluid">
        <!-- preloader -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- End of preloader -->
        <!-- right sidebar wrapper -->

        <div class="row">
            {% for message in get_flashed_messages() %}
            <div class="flash">
                <h3>{{ message }}</h3>
            </div>
            {% endfor %}
            <div class="col-sm-{%if not is_doc %}12{%else%}2{%endif%}" style="border-right: 1px solid black" {%if is_doc %}id="left"{%endif%}><h3>Documents List</h3>
              <ul>
                {% for doc in docs %}
                <li>{%if subject == doc.subject %}<i class="glyphicon glyphicon-arrow-right"></i>{% endif %}<a href="{{url_for('docs')}}/{{doc.subject}}"{%if subject == doc.subject %} style="font-weight: bold;text-decoration: underline;" title="Current page"{% endif %}>{{doc.title}}</a></li>  
                {% endfor %}
            </ul>
        </div>
        {%if is_doc %}
        <div class="col-sm-10" id="right">
          <center><h2>{{ entry.title }}</h2></center>
          <div style="text-align: center;">
              {{ entry.text|safe }}
          </div>
          {% if current_user is not none and current_user.is_authenticated and (current_user.steamid == entry.steamid or current_user.access >= rank_momentum_senior) %}

           <div style="text-align: left;">
              <a href="{{url_for('dashboard_docs_edit',id=entry.id)}}"><i class="glyphicon glyphicon-edit"></i>Edit</a>
              {% if current_user.access >= rank_momentum_admin or current_user.steamid == entry.steamid%} 
              | <a href="{{url_for('dashboard_docs_edit_remove',id=entry.id)}}"><i class="glyphicon glyphicon-remove"></i>Delete</a> 
              {%endif %}
          </div>
          {% endif %}
          <div style="text-align: right;color:gray">
              Written by <a href="http://steamcommunity.com/profiles/{{entry.steamid}}" target="_blanck">{{ get_steamid_personaname(entry.steamid)}}</a><img src="{{get_steamid_avatar(entry.steamid)}}" style="border: 1px solid gray">
          </div>
      </div>
      {%endif%}
  </div>
</div>
<!-- end paper bg -->
<!-- end of inner-wrap -->
<!-- main javascript library -->
<script src="{{ url_for('static', filename='js/' 'jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'waypoints.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'preloader-script.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'foundation.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'foundation.#111111.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/slimscroll/' 'jquery.slimscroll.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'sliding-menu.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/slicknav/' 'jquery.slicknav.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'scriptbreaker-multiple-accordion-1.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/number/' 'jquery.counterup.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/circle-progress/' 'jquery.circliful.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/' 'app.js') }}" type="text/javascript"></script>
<!-- additional javascript -->



<script>
    $(document).foundation();
</script>



</body>

</html>
