<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home of Momentum Mod, a free standalone Source mod with Counter-Strike: Source physics dedicated to bhop and surfing.">
    <link rel="icon" href="{{ url_for('static', filename='frontend/images/' 'favicon.ico') }}" type="image/ico" sizes="16x16">
    <title>Momentum Mod</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='frontend/css/' 'bootstrap.css') }}" rel="stylesheet">
    <!--custom css (Using style.scss file for customize)-->
    <link href="{{ url_for('static', filename='frontend/css/' 'style.css') }}" rel="stylesheet" type="text/css">
    <!--google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--animated css-->
    <link href="{{ url_for('static', filename='frontend/css/' 'animate.css') }}" rel="stylesheet">
    <!--revolution slider setting css-->
    <link href="{{ url_for('static', filename='frontend/css/' 'settings.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="80">

    <div class="fullwidthbanner" id="home">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                {% set background = url_for_random_background() %}
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ background }}" data-delay="10000" data-saveperformance="off" data-title="slider 1">
                    <!-- MAIN IMAGE -->
                    <img src="{{ background }}" alt="kenburns1">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption srcaption-bigwhite lfl ltr slider-title"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="0"
                        data-speed="1000"
                        data-start="100"
                        data-easing="easeInOutQuad"
                        data-endspeed="1000"
                        data-endeasing="easeInOutQuad"
                        style="z-index: 2">
                        MOMENTUM
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--full width banner-->

    <!-- Static navbar -->
    <nav class="navbar navbar-default sticky-nav navbar-static-top" style="background-color: #C4B7B7">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">
                    <img src="{{ url_for('static', filename='frontend/images/' 'logo.png') }}" alt="Momentum" height="24px" width="127px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right scroll-to">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="/leaderboards">Leaderboards</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact us</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </nav>



    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <h2 class="center-title">About us</h2>
                        <span class="center-border-line"></span>
                        <p class="sub-text">What we are</p>
                    </div>
                </div>
            </div>
            <!--left title row end-->
            <div class="row">
                <div class="col-sm-8 text-center col-sm-offset-2">
                    <p class="lead subtitle-center wow animated fadeIn" data-wow-delay=".1s">
                        A <span class="colored-text">free open-source Source mod</span> based in
                            <span class="colored-text">Counter-Strike: Source</span>. Focused on bunny-hopping
                            and surf mechanics from said game, with global leader-boards to compete for the best
                            times, and includes many fixes to the gameplay to make your experience more consistent.<br>
                        <span class="colored-text">We're still in development!</span>
                    </p>
                </div>
            </div>
            <!--sub title center-->
            <div class="row">
                <div class="col-sm-4 margin-bottom30">
                    <div class="service-features wow animated fadeIn" data-wow-delay=".2s">
                        <i class="ion-ios-lightbulb-outline"></i>
                        <h3>Features</h3>
                        <p>
                            Built-in timer. Global leaderboards. Fixes to the gamemode &amp; gameplay.
                        </p>
                    </div>
                    <!--service features-->
                </div>
                <div class="col-sm-4 margin-bottom30">
                    <div class="service-features wow animated fadeIn" data-wow-delay=".3s">
                        <i class="ion-ios-people-outline"></i>
                        <h3>The team</h3>
                        <p>
                            Led by Source runner <span class="colored-text">Gocnak</span> we're a group of
                            volunteers who spend free time developing the mod. <u>We're looking for people willing to help!</u>
                        </p>
                    </div>
                    <!--service features-->
                </div>
                <div class="col-sm-4 margin-bottom30">
                    <div class="service-features wow animated fadeIn" data-wow-delay=".4s">
                        <i class="ion-ios-color-wand-outline"></i>
                        <h3>We're in active development</h3>
                        <p>
                            You can check what we're doing in our GitHub repo <a href="https://github.com/momentum-mod/">https://github.com/momentum-mod/</a>
                        </p>
                    </div>
                    <!--service features-->
                </div>
            </div>
            <!--row-->
        </div>
        <!--container-->
    </section>
    <!--about section end-->
    <div class=" fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="text-center wow animated flipInX" data-wow-delay=".1s">
                        <h2 class="center-title">Fun facts</h2>
                        <!--If this sections is going to stay, here we should post some data about the mod
                            Like jumps made, runs completed, maps tracked and so on.
                            -->
                        <span class="center-border-line"></span>
                        <p class="sub-text">Some facts about the mod.</p>
                    </div>
                </div>
            </div>
            <!--center title row end-->
            <div class="row">
                <div class="col-md-3 col-sm-6 margin-bottom30">
                    <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".1s">
                        {% set total_runs = get_total_runs() %}
                        <h2>{{total_runs}}</h2>
                        <h4>Runs completed</h4>
                    </div>
                </div>
                <!--fun facts col-->
                <div class="col-md-3 col-sm-6 margin-bottom30">
                    <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".2s">
                        <h2>298573</h2>
                        <h4>Jumps made</h4>
                    </div>
                </div>
                <!--fun facts col-->
                <div class="col-md-3 col-sm-6 margin-bottom30">
                    <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".3s">
                        <h2>978</h2>
                        <h4>miles traveled</h4>
                    </div>
                </div>
                <!--fun facts col-->
                <div class="col-md-3 col-sm-6 margin-bottom30">
                    <div class="fun-facts-inner wow animated fadeIn" data-wow-delay=".4s">
                        <h2>592</h2>
                        <h4>scripters banned</h4>
                    </div>
                </div>
                <!--fun facts col-->
            </div>
        </div>
    </div>
    <!--fun facts end -->
    <!--Is this quote needed? -->
    <section id="faq">
        <div class="quote parallax-1">
            <div class="container text-center">
                <div class="col-sm-8 col-sm-offset-2 wow animated fadeIn" data-wow-delay=".2s">
                    <div id="wrapper">
                        <div class="head-text">Momentum Mod FAQ</div>
                        <div id="cback" class="cback">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Momentum Mod?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            Momentum Mod is a free stand-alone Source mod with Counter-Strike: Source physics dedicated to bhop and surfing while trying to improve them and simultaneously making it easier to access and play (offline and online) as well as being cheaper than any other Source game you'd have to buy to play either of these game modes.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How much will the game cost?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Free.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">When is Momentum Mod coming out?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            The mod is currently being worked on with no realistic ETA in sight. We want to keep people informed about progress! If you wish to contact us, you can find how on the footer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--quote section end-->
    </section>
    <section id="contact">
        <div class="gray-cta">
            <div class="container text-center scroll-to">
                <h2>Are you ready to start a conversation?</h2>
                <a href="{{ url_for('contact') }}" class="btn btn-lg btn-theme-bg">Get in touch</a>
            </div>
        </div>
        <!--gray cta-->
    </section>
    <section id="garbage" class="section-padding">
        <div class="team">
            <div class="container">
                <div class="text-center wow animated bounceIn" data-wow-delay=".1s">
                    <h2 class="center-title"><span class="colored-text">Momentum</span> Mod Previews</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text">See some in-game pictures!</p>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-md-3 margin-bottom30">
                        <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
                            <img src="{{ url_for('static', filename='frontend/images/' 'ArtShowcase-1.jpg') }}" class="img-responsive" alt="">
                            <h4>Momentum mod</h4>
                            <em></em>
                            <!--<ul class="social list-inline">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                            </ul>-->
                        </div>
                    </div>
                    <!--team col end-->
                    <div class="col-sm-6 col-md-3 margin-bottom30">
                        <div class="team-box wow animated fadeInLeft" data-wow-delay=".2s">
                            <img src="{{ url_for('static', filename='frontend/images/' 'ArtShowcase-2.jpg') }}" class="img-responsive" alt="">
                            <h4>Run to beat your own time</h4>
                            <em>or the worldrecord</em>
                            <!--<ul class="social list-inline">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                            </ul>-->
                        </div>
                    </div>
                    <!--team col end-->
                    <div class="col-sm-6 col-md-3 margin-bottom30">
                        <div class="team-box wow animated fadeInLeft" data-wow-delay=".3s">
                            <img src="{{ url_for('static', filename='frontend/images/' 'ArtShowcase-3.jpg') }}" class="img-responsive" alt="">
                            <h4>We have all kinds of surf maps</h4>
                            <em>Map: surf_lt_omnific</em>
                            <!--<ul class="social list-inline">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                            </ul>-->
                        </div>
                    </div>
                    <!--team col end-->
                    <div class="col-sm-6 col-md-3 margin-bottom30">
                        <div class="team-box wow animated fadeInLeft" data-wow-delay=".4s">
                            <img src="{{ url_for('static', filename='frontend/images/' 'ArtShowcase-4.jpg') }}" class="img-responsive" alt="">
                            <h4>From the easiest to the hardest maps</h4>
                            <em>Map: bhop_null</em>
                            <!--<ul class="social list-inline">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                            </ul>-->
                        </div>
                    </div>
                    <!--team col end-->
                </div>
            </div>
        </div>
        <!--team section end-->
    </section>


    <footer class="footer">
        <div class="container text-center">
            <a href="#">
                <img src="{{ url_for('static', filename='frontend/images/' 'logo.png') }}" alt="Momentum"></a>
            <ul class="list-inline socials">
                <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
                <li><a href="#" class="twit"><i class="ion-social-twitter-outline"></i></a></li>
                <li><a href="#" class="g-plus"><i class="ion-social-googleplus-outline"></i></a></li>
                <li><a href="www.moddb.com/mods/momentum2" target="_blank" class="moddb">
                <img src="{{ url_for('static', filename='frontend/images/' 'moddb-32.png') }}" alt="Moddb" data-toggle="tooltip" data-placement="top" title="Moddb"></a></li>
                <li><a href="https://github.com/momentum-mod/" target="_blank" class="github">
                <img src="{{ url_for('static', filename='frontend/images/' 'github-32.png') }}" alt="GitHub Repostory" data-toggle="tooltip" data-placement="right" title="GitHub"></a></li>
            </ul>
            <p>&copy; 2015. Made
                <!--with <i class="ion-ios-heart-outline"></i> -->
                by Design_mylife</p>
        </div>
    </footer>
    <!--footer end-->

    <!--jquery-->
    <script src="{{ url_for('static', filename='frontend/js/' 'jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='frontend/js/' 'bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='frontend/js/' 'template.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='frontend/js/' 'revolution-custom.js') }}" type="text/javascript"></script>
    <!--revolution slider scripts-->
    <script src="{{ url_for('static', filename='frontend/js/' 'jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='frontend/js/' 'jquery.themepunch.revolution.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='frontend/js/' 'jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='frontend/js/' 'parallax.min.js') }}"></script>
</body>
</html>
