{%if not asfile %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Momentum Mod team listing</title>
    <link rel="icon" href="{{ url_for('static', filename='frontend/images/' 'favicon.ico') }}" type="image/ico" sizes="16x16">
    <link href="{{ url_for('static', filename='css/' 'foundation.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='css/' 'dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'dripicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'typicons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='sass/css/' 'theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/' 'login.css') }}" rel="stylesheet">

    <!-- pace loader -->
    <script src="{{ url_for('static', filename='js/pace/' 'pace.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='js/pace/themes/orange/' 'pace-theme-flash.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/slicknav/' 'slicknav.css') }}" rel="stylesheet">


    <script src="{{ url_for('static', filename='js/vendor/' 'modernizr.js') }}" type="text/javascript"></script>

    <style>
    	body { 
        	background: url({{ url_for_random_background() }}) no-repeat center center fixed; 
        	-webkit-background-size: cover;
        	-moz-background-size: cover;
        	-o-background-size: cover;
        	background-size: cover;
		}
        .flash {
            color: #FFF;
            font-weight: bold;
            padding: 10px;
        }
        .box-body p {
        	color: #000;
        	font-weight: normal;
        	font-family: Arial, Courier
        }

        .box-body a {
        	text-decoration:underline;
        }

       .name:first-letter {
			text-transform: uppercase
		}

		h5 {
			color:rgb(25,70,150);
		}
    </style>
</head>

<body>
    <!-- preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- End of preloader -->
    <!-- right sidebar wrapper -->

    <div class="inner-wrap">
        <div class="wrap-fluid">
            <br>
            <br>
            <!-- Container Begin -->
            <div class="large-offset-4 large-4 columns">
                <div class="box bg-withe">
                    <!-- Profile -->
                    <div class="profile">
                        <img alt="" class="" src="{{ url_for('static', filename='frontend/images/' 'icon.png') }}">
                        <h3 style="color:gray">Momentum-Mod Team</h3>
                    </div>
                    <!-- End of Profile -->
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                    <h5>Momentum Team</h5>
                    {% for member in team %}
                        	<p>{% if member.realname is not none %}{{ member.realname }}{% endif %}{% if member.nickname is not none %} {% if member.realname is not none %}({% endif %}{{ member.nickname }}{% if member.realname is not none %}){% endif %}{% endif %}{% if member.role is not none %}{% if member.realname is not none or member.nickname is not none%} -{% endif %} {{ member.role }}{% endif %}</p>
                    {% endfor %}
                    <h5>Contributors</h5>
                    {% for member in contributors %}
						<p class="name">{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}</p>
					{% endfor %} 
					<h5>Special thanks to...</h5>
                    {% for member in specials %}
						<p class="name">{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}</p>
					{% endfor %}
					<p class="name">Everyone that has ever contributed</p>
					<p class="name">And VALVe</p>
                    </div>
                    {% if showlink %}
                    <a href="{{ url_for('team_credits') }}">As credits.txt file</a>
                    {% endif %}
                    <!-- end .timeline -->
                    <center><a href="{{ url_for('index') }}">&lt;&lt; Back to Home page</center>
                    {{ place_steamlink()|safe }}
                </div>
                <!-- box -->
            </div>
        </div>
        <!-- End of Container Begin -->
    </div>

    <!-- end paper bg -->
    <!-- end of inner-wrap -->
    <!-- main javascript library -->
    <script src="{{ url_for('static', filename='js/' 'jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'waypoints.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'preloader-script.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'foundation.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'foundation.#111111.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/slimscroll/' 'jquery.slimscroll.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'sliding-menu.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/slicknav/' 'jquery.slicknav.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'scriptbreaker-multiple-accordion-1.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/number/' 'jquery.counterup.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/circle-progress/' 'jquery.circliful.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/' 'app.js') }}" type="text/javascript"></script>
    <!-- additional javascript -->



    <script>
        $(document).foundation();
    </script>



</body>

</html>
{% else %}
<!DOCTYPE html>
<html>
<head>
	<title>credits.txt</title>
	<style>
	p {
		font-family: Console, "Courier New";
		font-face: Console;
		padding:0px;
		margin: 0px
	}
	.name:first-letter {
		text-transform: uppercase
	}
	</style>
	<link rel="icon" href="{{ url_for('static', filename='frontend/images/' 'favicon.ico') }}" type="image/ico" sizes="16x16">
</head>
<body>
<p>"credits.txt"</p>
<p>{</p>

<p>//========================================================</p>
<p>//These are the names used in the intro (trainride)</p>
<p>//========================================================</p>
<p>"IntroCreditsNames"</p>
<p>{
<p>	"V"	"WeaponIcons"</p>
<p>	" "	"CreditsText"</p>
<p>	" "	"CreditsText"</p>
<p>}</p>

<p>"CreditsParams"</p>
<p>{</p>
<p>	"logo" "HALF-LIFE'"</p>
	
<p>	"fadeintime"	"2.5"</p>
<p>	"fadeouttime"	"1"</p>
<p>	"fadeholdtime"	"1.0"</p>
<p>	"nextfadetime"	"1.0"</p>
<p>	"pausebetweenwaves" "1.0"</p>
<p>	"logotime" "1.0"</p>
<p>	"posx"	"96"</p>
<p>	"posy"	"360"</p>

<p>	"color" "255 255 255 128"</p>

<p>//Outro Parameters</p>
<p>// When setting scrolltime value, don't make it too slow/too fast!</p>
<p>// (3 s per team member + 1 per contributor + 10 for special thanks)</p>
<p>	"scrolltime" "{{ time }}"</p>
<p>	"separation"  "10"</p>
<p>}</p>

<p>//================================================================================</p>
<p>//	These are the names used in the credits.</p>
<p>//	If you contribute to the project, feel free to add yourself</p>
<p>//	in the contributors section. </p>
<p>//	(Add a new "YOUR NAME/USERNAME HERE" "CreditsOutroText" after the last one.)</p>
<p>//================================================================================</p>
<p>"OutroCreditsNames"</p>
<p>{</p>
<p>	"MOMENTUM MOD"	"CreditsOutroTextExtraLarge"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	"Momentum Team" "CreditsOutroTextLarge"</p>
	{% for member in team %}
<p>	"{% if member.realname is not none %}{{ member.realname }}{% endif %}{% if member.nickname is not none %} ({{ member.nickname }}){% endif %}{% if member.role is not none %} - {{ member.role }}{% endif %}" "CreditsOutroText"</p>
	{% endfor %}
<p>	" "	"CreditsOutroText"</p>
<p>	"Contributors" "CreditsOutroTextLarge"</p>
<p>	// Add yourself here</p>
	{% for member in contributors %}
<p class="name">"{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}" "CreditsOutroText"</p>
	{% endfor %}
<p>	//-----------------</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	"Special thanks to:"   "CreditsOutroTextLarge"</p>
	{% for member in specials %}
<p class="name">"{{ member.name }}{% if member.role is not none %} for {{ member.role }}{% endif %}" "CreditsOutroText"</p>
	{% endfor %}
<p>	"everyone who has ever contributed"   "CreditsOutroText"</p>
<p>	"and"	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	" "	"CreditsOutroText"</p>
<p>	"V"	"CreditsOutroLogos"</p>
<p>}</p>

<p>}</p>
</body>
</html>
{% endif %}