{% extends "dashboard/index.html" %}
{% block head %}
<style type="text/css">
	.userstable_filter input {
		width:30%
	}
</style>
{% endblock %}
{% block body %}
{% if form is not none %}

	

<div class="large columns" style="margin-top: 1.2em">
    <div class="your-account">
        <div class="row">
<center>
			<p><strong>Access levels:</strong><br>
				From <b>0</b> to <b>6</b>, the ranks names are:<br>
				rank_user_banned (<b><i>0</i></b>), rank_user_normal (<b><i>1</i></b>), rank_user_senior (<b><i>2</i></b>), rank_momentum_normal (<b><i>3</i></b>), rank_momentum_senior (<b><i>4</i></b>), rank_momentum_admin (<b><i>5</i></b>), rank_webmaster (<b><i>6</i></b>)
				<br>Note that your edits won't be taken into account if you try to edit a member with more access level than you, nor try to edit yourself.
				<br>If you want to edit yourself, go <a href="{{ url_for('dashboard_settings',destination='settings')}}">to the settings page</a> or <a href="{{ url_for('dashboard_manage',destination='manage')}}">to the manage page</a>.</p>
				<br>
				{% for message in get_flashed_messages() %}
				<div class="flash">
					<h3>{{ message }}</h3>
				</div>
				{% endfor %}
				<table class="display" id="userstable" style="width:100%">
					<thead>
						<tr>
							<th>Steamid</th>
							<th>Username</th>
							<th>Email</th>
							<th>Access</th>
							<th>Is mapper?</th>
							<th>Is translator?</th>
							<th>Join date</th>
							<th></th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th>Steamid</th>
							<th>Username</th>
							<th>Email</th>
							<th>Access</th>
							<th>Is mapper?</th>
							<th>Is translator?</th>
							<th>Join date</th>
							<th></th>
						</tr>
					</tfoot>

					<tbody>
						{% for user in listing %}
						<tr>
							<form action="#" method=post>
								<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
								{{ user.csrf_token }}

								<td id="{{user.steamid.data}}"><center>{{ user.steamid(readonly="readonly",style="display: none;")}} <a href="http://steamcommunity.com/profiles/{{user.steamid.data}}" target="_blanck">{{user.steamid.data }}</a></center></td>

								<td><center>{{ user.username }}</center></td>

								<td><center>{{ user.email}}</center></td>

								<td><center>{{ user.access(placeholder='Access level',type='number',min="0",max="6",style="text-align: center;") }}</center></td>

								<td><center>{{ user.mapper }}</center></td>

								<td><center>{{ user.translator }}</center></td>

								<td><center>{{ user.joindate }}</center></td>

								<td>{{ user.submit }}</td>
							</form>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</center>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/datatables/' 'jquery.dataTables.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function(){
    	$('#userstable').dataTable();
	});	
	</script>
{% endblock %}